auto-save-list/**
backups/**
places
elpa/**
*.elc
local.el
/projectile-bookmarks.eld
/eshell/
/games/
/tramp
/url/
recentf
bookmarks
var
.mc-lists.el
/custom.el
/network-security.data
.lsp-session*
transient/*
workspace/*
themes/*
mspyls/*
abbrev_defs
.cache/*
eln-cache/*
/.dap-breakpoints
/projects
/org-clock-save.el
